
        :root {
            --dark-blue: #000000;
            --light-green: #000000;
            --yellow: #ffffff;
            --orange: #ffffff;
            --salmon: #ffffff;
        }

        .container {
            color: var(--dark-blue);
            font-size: 20px;
            font-weight: bold;
            background-color: var(--yellow);

        }

        .row {
            border: 2.5px solid var(--dark-blue);
            box-sizing: border-box;
        }

        [class^="col-"] {
            border: 1px solid var(--light-green);
            box-sizing: border-box;
        }
        .apples {
            width: 100%;
        }